@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format(woff2);
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000033;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pages*/

.page-header {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0 70px;
  height: 67px;
  justify-content: space-between;
  margin-bottom: -6px;
}

.nav-logo {
  display: block;
  position: relative;
  z-index: 1;
}

.navigation {
  height: 64px;
  display: flex;
  width: 890px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
}

.navigation-item {
  margin-right: 32px;
  display: list-item;
  list-style: none;
}

.navigation-link{
  display: block;
  padding: 16px 0 16px 0;
}

.navigation-link-active{
  border-bottom: 2px solid #756157;
}

.navigation-user {
  display: flex;
  align-items: center;
  width: 310px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-user {
  margin-right: 10px;
  display: list-item;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

.item-user-registration {
  min-height: 41px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  width: 191px;
  border: none;
  border-radius: 4px;
}

.navigation-link-registration {
  display: inline-block;
  margin: auto;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 485px;
  background-image: url("../images/images/sedona-mountains.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 88.04%, 80% 94.06%, 80% 88.04%, 50% 100%, 20% 88.04%, 20% 94.06%, 0% 88.04%);
  background-size: cover;
  background-color: #333333;
}

/*heading*/
.heading-m {
  max-width: 640px;
  margin-bottom: 25px;
  height: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.heading-s {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*texts*/
.text-m {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 230px;
  height: 42px;
  ;
}

/*advantages*/

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  ;
  height: 261px;
  box-sizing: inherit;
}

.advantages-description {
  display: flex;
  min-height: 72px;
}

.description-advantages {
  display: flex;
  text-align: center;
  font-weight: 400;
  color: #333333;
  height: 26px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item-color {
  background: #83B3D333;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 385px;
  background-color: #83b3d31f;
  flex-wrap: wrap;
}

.advantages-item-text {
  padding: 85px 85px;
  width: 400px;
  height: 385px;
}

.advantages-item--picture {
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title {
  display: flex;
  text-transform: uppercase;
  height: 88px;
  width: 200px;
  margin: 0 auto;
  margin-top: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  max-height: 175px;
  word-wrap: break-word;
}

/*services*/
.welcome2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  height: 246px;
}

.welcome-advantages {
  width: 800px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-welcome {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  height: 26px;
}

.service {
  height: 631px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 385px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 85px;
  width: 400px;
}

.service-title {
  display: flex;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-description {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-item--primary {
  background-color: #83b3d31f;
}

/*search*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 304px;
}

.search-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.search-description {
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.registration {
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  min-height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

/*newsletter*/

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 70px;
  background-image: url(../images/images/footer.jpg);
  background-size: 100% auto;
  background-color: blue;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}


.newsletter-description {
  width: 542px;
  height: 54px;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 52px;
  width: 684px;
}

.newsletter-adress {
  display: inline-block;
  width: 452px;
  min-height: 52px;
  border: none;

}

.newsletter-email {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background: #f2f2f2;
}


::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 60%;
}

.field {
  width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  outline: 0;
  outline-offset: 0;
  border: none;
}

.button-newsletter {
  padding: 8px 50px;
  min-height: 52px;
  border-radius: 0%;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

/*footer*/

.footer-contacts {
  display: flex;
  width: 1200;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 8px;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 10px;
}

.footer-contacts-adress-phone {
  padding: 5px 10px;
  margin: 0;
  max-width: 700px;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.about-creators {
  width: 114.9px;
}

/*modal*/

.modal-container{
  display: flex;
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;

}

/*catalog-hotels*/

.catalog-hotels {
  color: #ffffff;
  height: 412px;
  padding: 35px 70px;
  background-image: url(../images/images/catalog-img.jpg);
  background-size: cover;
  background-color: blue;
  background-repeat: no-repeat;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 306px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  height: 22px;
  width: 1060px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item-home {
  display: flex;
  align-self: center;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-link-home {
  display: block;
  padding: 1px;

}

.catalog-filter {
  display: flex;
  column-gap: 70px;
  width: 1060px;
  height: 158px;
}

.catalog-filter-group {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  width: 153px;
  height: 158px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 101px;
  height: 153px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  margin-top: 0;

}


.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.catalog-filter-item {
  position: relative;
  display: block;
  height: 23px;
  width: 153px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.control-input {
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.control{
  position: relative;
  display: block;
  padding-left: 36px;
cursor: pointer;
}


.filter-price-input {
  position: relative;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  color: #333333;
}

.filter-price-input-min {
  border-radius: 4px 0 0 4px;
}

.span {
  position: absolute;
  top: 1px;
  right: 50px;
  color: #aaaaaa;
}

.filter-price-slider {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-title {
  margin-bottom: 32px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.price {
  margin-bottom: 46px;
}

.input-price {
  position: relative;
  font-size: 17px;
  line-height: 24px;
}

.range_line-progress {
  height: 4px;
  background-color: #ffffff;
  width: 196px;
}

.range_line {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range_button-more {
  top: -8px;
  left: -10px;
}

.range_button-less {
  top: -8px;
  right: 79px;
}

.button-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 56px;
}

.button-form {
  padding: 2px;
  max-width: 191px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  min-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 36px;
  max-width: 191px;


}

/*catalog*/
.catalog {
  padding: 50px 70px 60px;
}

.control-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-hotel {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  display: flex;
  align-items: center;
  width: 292px;
  height: 52px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  margin-right: 70px;
  background-color: #ffffff;
  background-image: url(../images/img_icon/select.svg) ;
  background-position: right 20px center;
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.filter-control{
  margin-right: 8px;
}

.hotels {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.hotel-info {
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  grid-gap: 16px 20px;
  padding: 20px;
  width: 340px;
  display: grid;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 20px;
}

.hotel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-align: left;
  grid-column: 2 span;

}

.hotel-block {
  justify-self: start;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotel-price {
  justify-self: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;

}

.button-brown {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  height: 36px;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.button-blue {
  padding: 2px;
  font-family: inherit;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-favorit{
  padding: 2px;
  font-family: inherit;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  background-color: #7db54f;
}

.hotel-stars {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 6px;
}

.hotel-rate-text {
  top: 9px;
  left: 183px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-style: normal;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  border-radius: 4px

}

.pagination-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  min-height: 60px;
  min-width: 60px;
  border-radius: 4px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.pagination-link-first{
  color: #000000;
  background-color: #F2F2F2;

}

.pagination-link-ellipses{
  background-color: #FFFFFF;

}



.newsletter-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 70px;
  color: #000000;
}

.newsletter-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.newsletter-description-catalog {
  max-width: 467px;
  height: 54px;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
