@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}

/*Pages*/
navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.nav-logo {
  width: 138px;
  margin-right: 100px;
}
.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  width: 268px;
  margin-left: auto;
}
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.navigation-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.hero {
  display: block;
  margin: 0 auto;
}
/*heading*/
.heading-m {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.heading-s {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*texts*/
.text-m {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
/*advantages*/

.advantages-description {
  text-align: center;
  font-weight: 700;
  display: flex;
  width: 1200px;
  height: 261px;
  padding: 0 69px;
  margin: 0;
}

.advantages-description {
  text-align: center;
  font-weight: 400;
  color: #333333;
}
.advantages-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: space-between;
  padding: 103px 85px;
}

.advantages-item--picture {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title {
  display: flex;
  width: 400px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

/*services*/
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-item {

  width: 400px;
  padding: 0 80px;

}
.service-title {
  font-weight: 700;
  text-align: center;
}

.service-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 1200px;
padding:0 64px;

}

.service-item--primary {
  background-color: #83b3d31f;
}

/*search*/
.search{
  width: 1200px;
padding: 0 96px;

}
.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.btn btn--search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

/*newsletter*/
.newsletter{
  width: 1200px;
height:414.86px;
padding: 96px, 258px;

}
.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.newsletter-email {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background: #f2f2f2;
}

.btn newsletter-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.footer-contacts-container{
  display: flex;
width: 1060px;
justify-content: space-between;
margin: 0 auto;
}
.footer-social-item{
  width: 47.33px;
padding: 0 10px;
}
.footer-contacts-adress-phone{
  width: 331px;
}
.about-creators{
  width: 114.9px;
}

/*catalog-hotels*/

.catalog-hotels {
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.button btn--blue {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #82b3d3;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

/*catalog*/
.catalog-hotels {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotel-title {
  font-weight: 700;
  text-align: left;
}

.hotel-block {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.btn btn--brown {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.btn btn--blue {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #82b3d3;
}

.btn btn--green {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #7db54f;
}

.hotel-rate-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
}
